# Keep istio.bazelrc up-to-date by run:
# curl -sSL https://raw.githubusercontent.com/istio/proxy/master/.bazelrc > istio.bazelrc
import %workspace%/istio.bazelrc

build:remote --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote --bes_backend=grpcs://remote.buildbuddy.io
build:remote --remote_cache=grpcs://remote.buildbuddy.io
build:remote --remote_timeout=3600
build:remote --remote_executor=grpcs://remote.buildbuddy.io
build:remote --jobs=100

build:remote --experimental_remote_build_event_upload=minimal
build:remote --nolegacy_important_outputs
build:remote --noslim_profile
build:remote --experimental_profile_include_target_label
build:remote --experimental_profile_include_primary_output

build:ci --config=remote
build:ci --config=rbe-toolchain-clang
build:ci --build_metadata=VISIBILITY=PUBLIC
